<p id="notice"><%= notice %></p>

<h1>Casa De Shows</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Hora inicio</th>
      <th>Dia fechamento</th>
      <th>Cidade</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @casa_de_shows.each do |casa_de_show| %>
      <tr>
        <td><%= casa_de_show.descricao %></td>
        <td><%= casa_de_show.hora_inicio %></td>
        <td><%= casa_de_show.dia_fechamento %></td>
        <td><%= casa_de_show.cidade %></td>
        <td><%= casa_de_show.endereco %></td>
        <td><%= link_to 'Show', casa_de_show %></td>
        <td><%= link_to 'Edit', edit_casa_de_show_path(casa_de_show) %></td>
        <td><%= link_to 'Destroy', casa_de_show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Casa De Show', new_casa_de_show_path %>
