<p id="notice"><%= notice %></p>

<h1>Restaurantes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Endereco</th>
      <th>Cidade</th>
      <th>Hotel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= restaurante.nome %></td>
        <td><%= restaurante.categoria %></td>
        <td><%= restaurante.endereco %></td>
        <td><%= restaurante.cidade %></td>
        <td><%= restaurante.hotel %></td>
        <td><%= link_to 'Show', restaurante %></td>
        <td><%= link_to 'Edit', edit_restaurante_path(restaurante) %></td>
        <td><%= link_to 'Destroy', restaurante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurante', new_restaurante_path %>
