<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @restaurante.nome %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @restaurante.categoria %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @restaurante.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @restaurante.cidade %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @restaurante.hotel %>
</p>

<%= link_to 'Edit', edit_restaurante_path(@restaurante) %> |
<%= link_to 'Back', restaurantes_path %>
