<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h6><%= t('error', count: hotel.errors.count) %> que esse hotel fosse salvo:</h6>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria %>
  </div>

  <div class="field">
    <%= form.label :endereco_id %>
    <%= form.text_field :endereco_id %>
  </div>

  <div class="field">
    <%= form.label :cidade_id %>
    <%= form.text_field :cidade_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
