<p id="notice"><%= notice %></p>

<h1>Atracoes</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Endereco</th>
      <th>Dia visita</th>
      <th>Turistico</th>
      <th>Turistico type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atracoes.each do |atracao| %>
      <tr>
        <td><%= atracao.descricao %></td>
        <td><%= atracao.endereco %></td>
        <td><%= atracao.dia_visita %></td>
        <td><%= atracao.turistico_id %></td>
        <td><%= atracao.turistico_type %></td>
        <td><%= link_to 'Show', atracao %></td>
        <td><%= link_to 'Edit', edit_atracao_path(atracao) %></td>
        <td><%= link_to 'Destroy', atracao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atracao', new_atracao_path %>
