<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title"><%= @atracao.descricao %></h4>
            <p class="card-category"><%= @atracao.pacote.cidade.nome %> - <%= @atracao.endereco.logradouro %>, <%= @atracao.endereco.numero %></p>
          </div>
          <div class="card-body">
            <p>
              <strong>Dia visita:</strong>
              <%= @atracao.dia_visita %>
            </p>

            <% if @atracao.turistico_type == 'Igreja' %>

            <p>
              <strong>Estilo Construção:</strong>
              <%= Igreja.find(@atracao.turistico_id).estilo_construcao %>
            </p>

            <p>
              <strong>Data Construção:</strong>
              <%= Igreja.find(@atracao.turistico_id).data_construcao %>
            </p>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
