<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title"><%= @atracao.descricao %></h4>
            <p class="card-category"><%= @atracao.pacote.cidade.nome %> - <%= @atracao.endereco.logradouro %>, <%= @atracao.endereco.numero %></p>
          </div>
          <div class="card-body">
            <p>
              <strong>Dia visita:</strong>
              <%= @atracao.dia_visita %>
            </p>

            <% if @atracao.turistico_type == 'Igreja' %>

              <p>
                <strong>Estilo Construção:</strong>
                <%= Igreja.find(@atracao.turistico_id).estilo_construcao %>
              </p>

              <p>
                <strong>Data Construção:</strong>
                <%= Igreja.find(@atracao.turistico_id).data_construcao %>
              </p>

            <% elsif @atracao.turistico_type == 'CasaDeShow' %>
              <% casa_de_show = CasaDeShow.find(@atracao.turistico_id)%>
              <p>
                <strong>Horário de início:</strong>
                <%= casa_de_show.hora_inicio %>:00
              </p>

              <p>
                <strong>Fecha:</strong>
                <%= casa_de_show.fechamento %>
              </p>

              <% if casa_de_show.restaurante_interno %>
              <p>
                <strong>Restaurante Interno:</strong>
                <%= casa_de_show.restaurante_interno.especialidade %>
                (Preço médio de R$<%= casa_de_show.restaurante_interno.preco_medio %>)
              </p>
              <% end %>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
