<%= form_with(model: museu, local: true) do |form| %>
  <% if museu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(museu.errors.count, "error") %> prohibited this museu from being saved:</h2>

      <ul>
      <% museu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao %>
  </div>

  <div class="field">
    <%= form.label :data_fundacao %>
    <%= form.date_select :data_fundacao %>
  </div>

  <div class="field">
    <%= form.label :n_salas %>
    <%= form.number_field :n_salas %>
  </div>

  <div class="field">
    <%= form.label :cidade_id %>
    <%= form.text_field :cidade_id %>
  </div>

  <div class="field">
    <%= form.label :endereco_id %>
    <%= form.text_field :endereco_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
