<p id="notice"><%= notice %></p>

<h1>Museus</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Data fundacao</th>
      <th>N salas</th>
      <th>Cidade</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @museus.each do |museu| %>
      <tr>
        <td><%= museu.descricao %></td>
        <td><%= museu.data_fundacao %></td>
        <td><%= museu.n_salas %></td>
        <td><%= museu.cidade %></td>
        <td><%= museu.endereco %></td>
        <td><%= link_to 'Show', museu %></td>
        <td><%= link_to 'Edit', edit_museu_path(museu) %></td>
        <td><%= link_to 'Destroy', museu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Museu', new_museu_path %>
