<p id="notice"><%= notice %></p>

<h1>Quartos</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Tipo de quarto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quartos.each do |quarto| %>
      <tr>
        <td><%= quarto.numero %></td>
        <td><%= quarto.tipo_de_quarto %></td>
        <td><%= link_to 'Show', quarto %></td>
        <td><%= link_to 'Edit', edit_quarto_path(quarto) %></td>
        <td><%= link_to 'Destroy', quarto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quarto', new_quarto_path %>
