<p id="notice"><%= notice %></p>

<h1>Restaurante Internos</h1>

<table>
  <thead>
    <tr>
      <th>Preco medio</th>
      <th>Especialidade</th>
      <th>Casa de show</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurante_internos.each do |restaurante_interno| %>
      <tr>
        <td><%= restaurante_interno.preco_medio %></td>
        <td><%= restaurante_interno.especialidade %></td>
        <td><%= restaurante_interno.casa_de_show %></td>
        <td><%= link_to 'Show', restaurante_interno %></td>
        <td><%= link_to 'Edit', edit_restaurante_interno_path(restaurante_interno) %></td>
        <td><%= link_to 'Destroy', restaurante_interno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurante Interno', new_restaurante_interno_path %>
