<%= form_with(model: oferecimento, local: true) do |form| %>
  <% if oferecimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oferecimento.errors.count, "error") %> prohibited this oferecimento from being saved:</h2>

      <ul>
      <% oferecimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pacote_id %>
    <%= form.text_field :pacote_id %>
  </div>

  <div class="field">
    <%= form.label :atracao_id %>
    <%= form.text_field :atracao_id %>
  </div>

  <div class="field">
    <%= form.label :dia_visita %>
    <%= form.date_select :dia_visita %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
