<p id="notice"><%= notice %></p>

<h1>Oferecimentos</h1>

<table>
  <thead>
    <tr>
      <th>Pacote</th>
      <th>Atracao</th>
      <th>Dia visita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oferecimentos.each do |oferecimento| %>
      <tr>
        <td><%= oferecimento.pacote %></td>
        <td><%= oferecimento.atracao %></td>
        <td><%= oferecimento.dia_visita %></td>
        <td><%= link_to 'Show', oferecimento %></td>
        <td><%= link_to 'Edit', edit_oferecimento_path(oferecimento) %></td>
        <td><%= link_to 'Destroy', oferecimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oferecimento', new_oferecimento_path %>
