<p id="notice"><%= notice %></p>

<p>
  <strong>Pacote:</strong>
  <%= @oferecimento.pacote %>
</p>

<p>
  <strong>Atracao:</strong>
  <%= @oferecimento.atracao %>
</p>

<p>
  <strong>Dia visita:</strong>
  <%= @oferecimento.dia_visita %>
</p>

<%= link_to 'Edit', edit_oferecimento_path(@oferecimento) %> |
<%= link_to 'Back', oferecimentos_path %>
