<%= form_with(model: cidade, local: true) do |form| %>
  <% if cidade.errors.any? %>
    <div id="error_explanation">
      <h6><%= t('error', count: cidade.errors.count) %> que esse cidade fosse salvo:</h6>

      <ul>
      <% cidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :populacao %>
    <%= form.number_field :populacao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
