<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title"><%= @cidade.nome %> - <%= @cidade.estado %></h4>
            <p class="card-category"><%= @cidade.populacao %> habitantes</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <tr>
                      <th>Hotel</th>
                      <th>Categoria</th>
                      <th>Endereço</th>
                      <th>Restaurante afiliado</th>
                      <th colspan="1"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @cidade.hoteis.each do |hotel| %>
                      <tr>
                        <td><%= hotel.nome %></td>
                        <td><%= hotel.categoria %></td>
                        <td><%= hotel.endereco.logradouro %>, <%= hotel.endereco.numero %></td>
                        <td><%= hotel.restaurante ? hotel.restaurante.nome : '-' %></td>
                        <td><%= link_to 'Ver mais', hotel %></td>
                      </tr>
                    <% end %>
                  </tbody>
                  <thead class=" text-primary">
                    <tr>
                      <th>Restaurante</th>
                      <th>Categoria</th>
                      <th>Endereço</th>
                      <th>Hotel afiliado</th>
                      <th colspan="1"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @cidade.restaurantes.each do |restaurante| %>
                      <tr>
                        <td><%= restaurante.nome %></td>
                        <td><%= restaurante.categoria %></td>
                        <td><%= restaurante.endereco.logradouro %>, <%= restaurante.endereco.numero %></td>
                        <td><%= restaurante.hotel.nome %></td>
                        <td><%= link_to 'Ver mais', restaurante %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
