<p id="notice"><%= notice %></p>

<h1>Fundacoes</h1>

<table>
  <thead>
    <tr>
      <th>Museu</th>
      <th>Fundador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fundacoes.each do |fundacao| %>
      <tr>
        <td><%= fundacao.museu %></td>
        <td><%= fundacao.fundador %></td>
        <td><%= link_to 'Show', fundacao %></td>
        <td><%= link_to 'Edit', edit_fundacao_path(fundacao) %></td>
        <td><%= link_to 'Destroy', fundacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fundacao', new_fundacao_path %>
