<%= form_with(model: tipo_de_quarto, local: true) do |form| %>
  <% if tipo_de_quarto.errors.any? %>
    <div id="error_explanation">
      <h6><%= t('error', count: tipo_de_quarto.errors.count) %> que esse tipo_de_quarto fosse salvo:</h6>

      <ul>
      <% tipo_de_quarto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :valor_diaria %>
    <%= form.text_field :valor_diaria %>
  </div>

  <div class="field">
    <%= form.label :hotel_id %>
    <%= form.text_field :hotel_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
