<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Cadastro Pacote</h4>
          </div>
          <div class="card-body">
            <%= form_with(model: pacote, local: true) do |form| %>
              <% if pacote.errors.any? %>
              <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span>
                  <h6><%= pluralize(pacote.errors.count, "erro impediu") %> que esse pacote fosse salvo:</h6>

                  <ul>
                  <% pacote.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </div>
              <% end %>

              <div class="row">
                <div class="col-md-2 offset-md-1">
                  <div class="form-group">
                    <%= form.label :valor %>
                    <%= form.text_field :valor, :class => "form-control form-control-sm" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= form.label :data_inicio %>
                    <div class="form-inline">
                      <%= form.date_select :data_inicio, {}, {:class => "form-control form-control-sm"} %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= form.label :data_fim %>
                    <div class="form-inline">
                      <%= form.date_select :data_fim, {}, {:class => "form-control form-control-sm"} %>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <%= form.label :cidade_id %>
                    <%= form.collection_select :cidade_id, Cidade.all, :id, :nome, {}, {:class => "form-control form-control-sm"}%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="text-center">
                    <br>
                    <button type="submit" class="btn btn-primary pull-right">Salvar e carregar atrações</button>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

              <h3 class="card-text text-center">Selecione igrejas:</h3>
              <br>
              <div class="form-check">
                <div class="row">
                  <%= form.collection_check_boxes(:igreja_ids, Igreja.where(cidade: pacote.cidade_id).all, :id, :descricao, {}, { :multiple => true,  :selected => pacote.igrejas.map(&:id), :class => "form-check-input" } ) do |checkbox| %>
                    <div class="col-md-4">
                    <%= checkbox.label class:"form-check-label w-100" do %>
                    <div class="card w-100 h-100">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title">
                          <%= checkbox.check_box %>
                          <span class="form-check-sign">
                              <span class="check" style="border: 1px solid rgba(0, 0, 0, 0)"></span>
                          </span>
                        </h4>
                        <p class="card-category"><%= checkbox.text %></p>
                      </div>
                      <div class="card-body">
                        <p><b>Endereço: </b><%= Igreja.find(checkbox.value).endereco.logradouro %>, <%= Igreja.find(checkbox.value).endereco.numero %></p>
                        <p><b>Estilo da Construção: </b><%= Igreja.find(checkbox.value).estilo_construcao %></p>
                        <p><b>Construída em: </b><%= Igreja.find(checkbox.value).data_construcao %></p>
                      </div>
                    </div>
                  </div>
                  <% end %>
                <% end %>
                </div>
              </div>

            <h3 class="card-text text-center">Selecione parques:</h3>
            <br>
            <div class="form-check">
              <div class="row">
                <%= form.collection_check_boxes(:parque_ids, Parque.where(cidade: pacote.cidade_id).all, :id, :descricao, {}, { :multiple => true,  :selected => pacote.parques.map(&:id), :class => "form-check-input" } ) do |checkbox| %>
                  <div class="col-md-4">
                  <%= checkbox.label class:"form-check-label h-100 w-100" do %>
                  <div class="card w-100">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">
                        <%= checkbox.check_box %>
                        <span class="form-check-sign">
                            <span class="check" style="border: 1px solid rgba(0, 0, 0, 0)"></span>
                        </span>
                      </h4>
                      <p class="card-category"><%= checkbox.text %></p>
                    </div>
                    <div class="card-body">
                      <p><b>Endereço: </b><%= Parque.find(checkbox.value).endereco.logradouro %>, <%= Parque.find(checkbox.value).endereco.numero %></p>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                <div class="clearfix"></div>
              </div>
            </div>
            <% end %>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
