<%= form_with(model: pacote, local: true) do |form| %>
  <% if pacote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pacote.errors.count, "error") %> prohibited this pacote from being saved:</h2>

      <ul>
      <% pacote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :data_inicio %>
    <%= form.date_select :data_inicio %>
  </div>

  <div class="field">
    <%= form.label :data_fim %>
    <%= form.date_select :data_fim %>
  </div>

  <div class="field">
    <%= form.label :cidade_id %>
    <%= form.collection_select :cidade_id, Cidade.all, :id, :nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
