<p id="notice"><%= notice %></p>

<h1>Pacotes</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Data inicio</th>
      <th>Data fim</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pacotes.each do |pacote| %>
      <tr>
        <td><%= pacote.valor %></td>
        <td><%= pacote.data_inicio %></td>
        <td><%= pacote.data_fim %></td>
        <td><%= pacote.cidade.nome %></td>
        <td><%= link_to 'Show', pacote %></td>
        <td><%= link_to 'Edit', edit_pacote_path(pacote) %></td>
        <td><%= link_to 'Destroy', pacote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pacote', new_pacote_path %>
