<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @pacote.valor %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @pacote.data_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @pacote.data_fim %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @pacote.cidade %>
</p>

<%= link_to 'Edit', edit_pacote_path(@pacote) %> |
<%= link_to 'Back', pacotes_path %>
